<div class="landing-page">
  <div class="jumbotron">
    <div class="container">
      <h2>Find help, fast.</h2>
      <h3>Ask questions and do pair programming with other hackers!</h3>
      <a class="btn btn-primary btn-lg" href="/students/sign_up" role="button" style="margin-top: 65px; margin-right: 25px;">I need help!</a>
      <a class="btn btn-primary btn-lg" href="/hackers/sign_up" role="button" style="margin-top: 65px;"">I can help!</a>
    </div>
  </div>
</div>
