<div class="landing-page">
  <div class="jumbotron">
    <div class="container">
      <h2>Programming mentorships on-demand</h2>
      <h3>Get help with expert programmers <span style="font-weight: bold"> it's like Uber and StackOverflow had a baby!</span></h3>
      <a class="btn btn-primary btn-lg" href="/students/sign_up" role="button">I need help!</a>
      <a class="btn btn-primary btn-lg" href="/hackers/sign_up" role="button">I can help!</a>
    </div>
  </div>
</div>
