.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid lightgrey;
  /*text-align: center;*/
  &.affix {
    position: static;
    max-width: 100%;
  }
}

.card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
  color: grey;

  label {
    font-weight: 800;
  }

  .sign_field {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em;
    transition: border-color 150ms ease;
    width: 100%;
  }

  .card-title {
    line-height: 48px;
    text-align: center;
  }

  .card-subtitle{
    font-weight: 600;
    font-size: 25px;
    margin: 5px;
    padding-left: 10px;
    color: black;
  }

  .card-note{
    color: grey;
    font-weight: normal;
    margin: 0;
  }
}

.card-action {
  margin: 0;
  padding: 20px;
  button {
    text-transform: none;
    font-size: 18px;
  }
}

.login {
  text-align: center;
}

footer {
  bottom: 0;
  text-align: center;
  margin-top: 20px;
}