.landing-page {
    background-color: white;
    min-height: 560px;
    padding-top: 0px;
    margin-top: -70px;
    text-align: center;

    h2 {
      margin: 120px 0 0 0;
      font-size: 40px;
      font-weight: bold;
      color: white;

      }

    h3 {
      font-size: 20px;
      text-transform: none;
      font-weight: normal;
      width: 380px;
      margin: 20px auto;
      color: white;
      line-height: 30px;
    }

    .boldy {
        font-weight: bold;
      }

      .btn, .btn-primary {
        background-color: #2B303B;
        font-weight: normal;
        font-size: 16px;
        border: none;
      }

    .expand {
      background-color: white;
      text-align: center;
      color: #043A5E;
      font-size: 24px;
      line-height: 48px;
    }

    .steps {
      background-color: white;
      color: #043A5E;
      padding-bottom: 50px;

      #circle-lg {
        width: 200px;
        height: 200px;
        background: #56D4D3;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50%;
        margin: auto;

        img {
          margin-left: 35px;
          margin-top: 30px;
        }
      }

      #circle-sm {
        width: 57px;
        height: 57px;
        background: #043A5E;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50%;
        margin-top: -50px;
        margin-left: 180px;
      }

      h2 {
        padding-top: 50px;
        font-size: 36px;
        text-align: center;
      }

      h4 {
        font-size: 14px;
        color: #043A5E;
        text-align: center;
        padding-top: 10px;
      }

      h5 {
        font-size: 32px;
        color: white;
        margin-top: -45px;
        margin-left: 200px;
      }

      .col-md-4 {
        margin-bottom: 20px;
        text-align: center;
      }

      .image {
        border-radius: 50%;
        max-width: 250px;
        margin: auto;
      }

      h6 {
        font-size: 24px;
        color: white;
        text-align: center;
        padding-top: 10px;
      }
    }

    footer{
      border: 1px solid #979797;
      background-color: white;
      padding: 30px 0;

      .short {
        text-align: right;
      }

      h3 {
        color: grey;
        font-size: 18px;
        font-weight: 200;
      }

      p {
        color: darkgrey;
        font-size: 12px;
      }

      a {
        text-align: right;
        font-size: 12px;
        color: #14AEB3 !important;
       }
    }

    .border-top {
      border-top: lightgrey solid 2px;
    }
}

.login {
  text-align: center;
}

.jumbotron {
  background: image-url("background.png") fixed no-repeat;
  background-size: cover;
  min-height: 610px;
  margin-top: -70px;
}


footer {
  bottom: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
section.mentorship{
  width:100%;
  height:100%;
  margin-top: -20px;
}
.llamada{
  width:50%;
  height:100%;
  float:left;
}
.acey{
  float:left;
  width:50%;
  height: 100%;
}
